
.app {
    padding: 30px;
    background-color: rgb(63, 48, 19);
  }
  
  .todo {
    align-items: center;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
  }
  .btn{
    margin-top: 5px;
  }